<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css" />
    <title>Welcome to Paige Pong!</title>
</head>
<body>
    <div class="menu-container">
        <h1>PAIGE PONG</h1>
        <img class="paige-img" src="./assets/images/paige.png" alt="Paige" />
        <button id="start-btn" class="start-btn">START</button>
    </div>
    <script src="./assets/menuScript.js"></script>
</body>
</html>